.card {
    width: 350px;
    padding: 10px;
border: 2px solid whitesmoke;

}

.card img{
    width: 350px;
    padding: 10px;
border: 2px solid whitesmoke;
margin-top: 100px;
}

#box{
    display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 70px;

}


